.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;

    line-height: 1;
    &--primary {
        color: #004085;
        background-color: #cce5ff;
        border:1px solid #b8daff;
    }

    &--secondary {
        color: #383d41;
    background-color: #e2e3e5;
    border:1px solid  #d6d8db;
    }

    &--success {
        color: #155724;
    background-color: #d4edda;
    border:1px solid  #c3e6cb;
    }

    &--danger {
        color: #721c24;
    background-color: #f8d7da;
    border:1px solid  #f5c6cb;
    }

    &--info {
        color: #0c5460;
    background-color: #d1ecf1;
    border:1px solid  #bee5eb;
    }

    &--warning {
        color: #856404;
    background-color: #fff3cd;
    border:1px solid  #ffeeba;
    }

    &--light {
        color: #818182;
    background-color: #fefefe;
    border:1px solid  #fdfdfe;
    }

    &--dark {
        color: #1b1e21;
        background-color: #d6d8d9;
        border:1px solid  #c6c8ca;
    }

    &--sm {
        font-size: 12px;
        padding: 10px 16px;
    }

    &--md {
        font-size: 14px;
        padding: 11px 20px;
    }

    &--lg {
        font-size: 16px;
    padding: 12px 24px;
    }

    &--xswide {
        font-size: 18px;
        padding: 14px 26px;
        width: 25%;
    }
    &--swide {
        font-size: 18px;
        padding: 16px 18px;
        width: 50%;
    }
  }
  
