.card-main {
  padding: 25px 10px 18px 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px lightgray;

  &--lg {
    width: 80%;
  }
  &--md {
    width: 60%;
  }
  &--sm {
    width: 40%;
  }
  &--xsm {
    width: 25%;
  }

  &--primary {
    color: #004085;
    background-color: #cce5ff;
    box-shadow: 0px 4px 8px 0px #b8daff;
  }
  &--secondary {
    color: #383d41;
    background-color: #e2e3e5;
    box-shadow: 0px 4px 8px 0px #d6d8db;
  }
  &--success {
    color: #155724;
    background-color: #d4edda;
    box-shadow: 0px 4px 8px 0px #c3e6cb;
  }
  &--danger {
    color: #721c24;
    background-color: #f8d7da;
    box-shadow: 0px 4px 8px 0px #f5c6cb;
  }
  &--warning {
    color: #856404;
    background-color: #fff3cd;
    box-shadow: 0px 4px 8px 0px #ffeeba;
  }
  &--info {
    color: #0c5460;
    background-color: #d1ecf1;
    box-shadow: 0px 4px 8px 0px #bee5eb;
  }
  &--dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    box-shadow: 0px 4px 8px 0px #c6c8ca;
  }
}

.card-title {
}

.card-content {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 22px;
}

.card-footer {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}
